{% extends 'RecruiterApp/base.html' %}
{% load static %}


<<!DOCTYPE html>
<html lang="en" dir="ltr">

    <body>
        {% block content %}
        {% include 'RecruiterApp/status.html' %}


    <br>


    <div>
    <div class="row">
        <div class="col-lg-6 text-right" >
        <a class="btn btn-sm btn-dark" href="{% url 'exportar_csv' %}">Descargar CSV</a>
    </div>
    </div>


    <br>
    <div class="col-md-7">
        <h5  align="left">Ultimas Posiciones</h5>
        <hr>
        <div class="card card-body">
            <table   "class="table table-m">
                <tr>
                    <th>Empresa</th>
                    <th>Id</th>
                    <th>Posicion</th>
                    <th>Estado</th>
                    <th>Etapa</th>
                    <th>Seniority</th>
                    <th>Resolucion</th>
                    <th>Curriculum</th>
                    <th>Ingresar</th>
                    <th>Quitar</th>
                </tr>
                {% for i in solicitud_posicion %}
                    <tr>
                        <td>{{i.empresas.nombre_empresa}}</td>
                        <td>{{i.id}}</td>
                        <td>{{i.puesto}}</td>
                        <td>{{i.estado}}</td>
                        <td>{{i.etapa}}</td>
                        <td>{{i.seniority}}</td>
                        <td>{{i.resolucion}}</td>

                        {% if i.cargar_archivos and i.resolucion == 'En Proceso' %}
                        <td><a class="btn btn-primary btn-sm" href="{{i.cargar_archivos.url}}">Descargar</a></td>
                        <td><a class="btn btn-primary btn-sm" href="{% url 'ingresos' i.id %}">Ingresar</a></td>
                        {% else %}
                        <td><a class="btn btn-warning btn-sm" href="#">Vacio</a></td>
                        <td><a class="btn btn-warning btn-sm" href="#">Ingresar</a></td>
                        {% endif %}
                        <td><a class="btn btn-sm btn-danger" href="{% url 'eliminar' i.id %}">Eliminar</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

</div>
        {% endblock %}
    </body>

</html>
