<!DOCTYPE html>
{% extends 'RecruiterApp/base.html' %}

<html lang="en" dir="ltr">

{% block content %}
<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-black  mb-3" id="total-posiciones">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Posiciones</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_solicitudes}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-black  mb-3" id="posiciones-cubiertas">
			  	<div class="card-header">
			  		<h5 class="card-title">Posiciones Aprobadas</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{sol_aprob}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-black  mb-3" id="posiciones-pendientes">
			  	<div class="card-header">
			  		<h5 class="card-title">Posiciones Pendientes</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{sol_esp}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-black  mb-3" id="posiciones-pendientes">
			  	<div class="card-header">
			  		<h5 class="card-title">Posiciones Denegadas</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{sol_den}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>
	<body>

		<div class="col-md-7">
			<h5  align="center">Ultimas Posiciones</h5>
			<hr>
			<div class="card card-body">
				<a class="btn btn-primary  btn-sm btn-block" href="{% url 'posicion_manager'  %}">Crear Posicion</a>
				<table class="table table-m">
					<tr>
						<th>Empresa</th>
						<th>Posicion</th>
						<th>Id</th>
						<th>Estado</th>
						<th>Etapa</th>
						<th>Seniority</th>
						<th>Resolucion</th>
						<th>Curriculum</th>
						<th>Quitar</th>
					</tr>
					{% if solicitudes == None %}
					<td>
						<h2 align="center">El usuario ingresado no pertenece a la empresa</h3>
					</td>
					{% else %}
					{% for i in solicitudes %}
						<tr>
							<td>{{i.empresas}}</td>
							<td>{{i.puesto}}</td>
							<td>{{i.id}}</td>
							<td>{{i.estado}}</td>
							<td>{{i.etapa}}</td>
							<td>{{i.seniority}}</td>
							<td>{{i.resolucion}}</td>

							{% if i.cargar_archivos %}
							<td><a class="btn btn-primary btn-sm" href="{{i.cargar_archivos.url}}">Descargar</a></td>
							{% else %}
							<td><a class="btn btn-warning btn-sm" href="#">Vacio</a></td>
							{% endif %}
							<td><a class="btn btn-sm btn-danger" href="{% url 'eliminar' i.id %}">Eliminar</a></td>
						</tr>
					{% endfor %}
					{% endif %}
				</table>
			</div>
		</div>

</body>
{% endblock %}
</html>
