<!DOCTYPE html>
{% extends 'RecruiterApp/base.html' %}

<html lang="en" dir="ltr">

{% block content %}
{% include 'RecruiterApp/status.html' %}
	<body>

		<div class="col-md-7">
			<h5  align="center">Ultimas Posiciones</h5>
			<hr>
			<div class="card card-body">
				<a class="btn btn-primary  btn-sm btn-block" href="{% url 'posicion_manager' %}">Crear Posicion</a>
				<table class="table table-m">
					<tr>
						<th>Empresa</th>
						<th>Posicion</th>
						<th>Id</th>
						<th>Estado</th>
						<th>Etapa</th>
						<th>Seniority</th>
						<th>Resolucion</th>
						<th>Curriculum</th>
						<th>Quitar</th>
					</tr>
					{% if solicitudes == None %}
					<td>
						<h3 align="center">El usuario ingresado no pertenece a la empresa</h3>
					</td>
					{% else %}
					{% for i in solicitudes %}
						<tr>
							<td>{{i.empresas}}</td>
							<td>{{i.puesto}}</td>
							<td>{{i.id}}</td>
							<td>{{i.estado}}</td>
							<td>{{i.etapa}}</td>
							<td>{{i.seniority}}</td>
							<td>{{i.resolucion}}</td>

							{% if i.cargar_archivos %}
							<td><a class="btn btn-primary btn-sm" href="{{i.cargar_archivos.url}}">Descargar</a></td>
							{% else %}
							<td><a class="btn btn-warning btn-sm" href="#">Vacio</a></td>
							{% endif %}
							<td><a class="btn btn-sm btn-danger" href="{% url 'eliminar' i.id %}">Eliminar</a></td>
						</tr>
					{% endfor %}
					{% endif %}
				</table>
			</div>
		</div>

</body>
{% endblock %}
</html>
