<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        {% include 'RecruiterApp/navbar.html' %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        {% block content %}
        {% include 'RecruiterApp/status.html' %}


        <br>

<div class="row">
	<div class="col-md-5">
		<h5 align="left">Clientes</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Crear Clientes</a>
			<table class="table table-sm">
				<tr>
					<th>Clientes</th>
					<th>Manager</th>
				</tr>
                {% for e in empresas %}
                    <tr>
                        <td>{{e.nombre_empresa}}</td>
                        <td>{{e.nombre_manager}}</td>
                        <td><a class="btn btn-sm btn-info" href="{% url 'empresas' e.id %}">Ver</a></td>
                    </tr>
        {% endfor %}
            </table>
		</div>
	</div>

	<div class="col-md-7">
		<h5  align="left">Ultimas Posiciones</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'crear_posicion' %}">Crear Posicion</a>
			<table class="table table-sm">
				<tr>
                    <th>Id</th>
					<th>Posicion</th>
					<th>Estado</th>
					<th>Etapa</th>
                    <th>Resolucion</th>
					<th>Update</th>
					<th>Quitar</th>
				</tr>
                {% for i in solicitud_posicion %}
                    <tr>
                        <td>{{i.id}}</td>
                        <td>{{i.puesto}}</td>
                        <td>{{i.estado}}</td>
                        <td>{{i.etapa}}</td>
                        <td>{{i.resolucion}}</td>
                        <td><a class="btn btn-sm btn-info" href="{% url 'actualizar_posicion' i.id %}">Actualizar</a></td>
                        <td><a class="btn btn-sm btn-danger" href="{% url 'eliminar' i.id %}">Eliminar</a></td>
                    </tr>
                {% endfor %}
			</table>
		</div>
	</div>

</div>

                                            {% endblock %}

    </body>
</html>
