{% extends 'RecruiterApp/base.html' %}
{% load static %}

{% csrf_token %}

{% block content %}

<br>
<div class="row">
    <div class="col-md-4">
        <div class="card card-body">

                <p>¿Desea borrar la posición {{posicion}} cuyo ID es {{posicion.id}}? </p>

                <form class="eliminar" action="{% url 'eliminar' posicion.id %}" method="post">
                    {% csrf_token %}
                    <a class="btn btn-sm btn-warning"href="{% url 'base' %}">Cancelar</a>
                    <input class="btn btn-sm btn-danger" type="submit" name="Confirmar" value="Confirmar">
                </form>

            </div>
        </div>

</div>
{% endblock %}
