{%  extends 'RecruiterApp/base.html' %}

{% block content %}

	<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Empresa:</h5>
			<hr>
			<a class="btn btn-outline-info  btn-sm btn-block" href="">Update Customer</a>
			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'empresas' empresas.id %}">Place Order</a>

		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Informacion de Contacto</h5>
			<hr>
            <p>Manager: {{empresas.nombre_manager}}</p>
			<p>Email: {{empresas.email}}</p>
			<p>Phone: {{empresas.telefono}}</p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Total Posiciones</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{total_solicitudes}}</h1>
		</div>
	</div>
</div>


<br>
<div class="row">
	<div class="col">
		<div class="card card-body">

			<form method="get">
		    <button class="btn btn-primary" type="submit">Buscar</button>
			{{filtros.form}}
		  </form>
		</div>
	</div>

</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
                    <th>Id</th>
					<th>Posicion</th>
					<th>Empresa</th>
					<th>Date Orderd</th>
					<th>Status</th>
					<th>Etapa</th>
					<th>Resolucion</th>
					<th>Update</th>
					<th>Remove</th>
				</tr>

				{% for solicitud in solicitudes %}

				<tr>
                    <td>{{solicitud.id}}</td>
					<td>{{solicitud.puesto}}</td>
					<td>{{solicitud.empresas}}</td>
					<td>{{solicitud.fecha_de_carga}}</td>
					<td>{{solicitud.estado}}</td>
					<td>{{solicitud.etapa}}</td>
					<td>{{solicitud.resolucion}}</td>
                    <td><a class="btn btn-sm btn-info" href="{% url 'actualizar_posicion' solicitud.id %}">Actualizar</a></td>
                    <td><a class="btn btn-sm btn-danger" href="{% url 'eliminar' solicitud.id %}">Eliminar</a></td>
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>

{% endblock %}
