{% extends 'RecruiterApp/base.html' %}
{% load static %}

<<!DOCTYPE html>
<html lang="en" dir="ltr">
	<body>

		{% block content %}
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body">
					<form action="" method="POST" enctype="multipart/form-data">
						{% csrf_token %}
						{{ form.management_form }}
						{% for f in form %}
							{{f}}
							<hr>
						{% endfor %}
						<input type="submit" name="Ingresar">
					</form>
				</div>
			</div>
		</div>
		{% endblock %}

</body>
</html>
