<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Recruiter</title>
    </head>
    <body>
        {% include 'RecruiterApp/navbar.html' %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        {% block content %}
        {% include 'RecruiterApp/status.html' %}


<br>
<div>
<div class="row">
<div class="col-lg-11 text-right" >
    <a class="btn btn-sm btn-dark" href="{% url 'exportar_csv' %}">Descargar Todas</a>
</div>
</div>
</div>

<div class="row">
	<div class="col-md-5">
		<h5 align="center">Clientes</h5>
		<hr>
		<div class="card card-body">
			<table class="table table-m">
				<tr>
					<th>Clientes</th>
					<th>Manager</th>
				</tr>
                {% for e in empresas %}
                    <tr>
                        <td>{{e.nombre_empresa}}</td>
                        <td>{{e.nombre_manager}}</td>
                        <td><a class="btn btn-sm btn-info" href="{% url 'empresas' e.id %}">Ver</a></td>
                    </tr>
        {% endfor %}
            </table>
		</div>
	</div>

	<div class="col-md-7">
		<h5  align="center">Ultimas Posiciones</h5>
		<hr>
		<div class="card card-body">
			<table class="table table-m">
				<tr>
                    <th>Empresa</th>
                    <th>Id</th>
					<th>Posicion</th>
					<th>Estado</th>
					<th>Etapa</th>
                    <th>Seniority</th>
                    <th>Curriculum</th>
					<th>Quitar</th>
				</tr>
                {% for i in solicitud_posicion %}
                    <tr>
                        <td>{{i.empresas.nombre_empresa}}</td>
                        <td>{{i.id}}</td>
                        <td>{{i.puesto}}</td>
                        <td>{{i.estado}}</td>
                        <td>{{i.etapa}}</td>
                        <td>{{i.seniority}}</td>

                        {% if i.cargar_archivos %}
                        <td><a class="btn btn-primary btn-sm" href="{{i.cargar_archivos.url}}">Descargar</a></td>
                        {% else %}
                        <td><a class="btn btn-warning btn-sm" href="#">Vacio</a></td>
                        {% endif %}
                        <td><a class="btn btn-sm btn-danger" href="{% url 'eliminar' i.id %}">Eliminar</a></td>
                    </tr>
                {% endfor %}
			</table>
		</div>
	</div>

</div>

{% endblock %}

    </body>
</html>
