
<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-black  mb-3" id="total-posiciones">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Posiciones</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_posiciones}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-black  mb-3" id="posiciones-cubiertas">
			  	<div class="card-header">
			  		<h5 class="card-title">Posiciones Cubiertas</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{aprobadas}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-black  mb-3" id="posiciones-pendientes">
			  	<div class="card-header">
			  		<h5 class="card-title">Posiciones Pendientes</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{espera}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-black  mb-3" id="posiciones-pendientes">
			  	<div class="card-header">
			  		<h5 class="card-title">Posiciones Denegadas</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{denegadas}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>
