{%  extends 'RecruiterApp/base.html' %}

{% block content %}

	<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Customer:</h5>
			<hr>
			<a class="btn btn-outline-info  btn-sm btn-block" href="#">Update Customer</a>
			<a class="btn btn-outline-info  btn-sm btn-block" href="#">Place Order</a>

		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Contact {{nombre_empresa}}</h5>
			<hr>
			<p>Email: {{empresas.nombre_manager}}</p>
			<p>Email: {{empresas.email}}</p>
			<p>Phone: {{empresas.telefono}</p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Total Orders</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{order_count}}</h1>
		</div>
	</div>
</div>


<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get">

		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>
		</div>
	</div>

</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Id</th>
					<th>Posicion</th>
					<th>Fecha de solicitud</th>
					<th>Estado</th>
					<th>Actualizar</th>
					<th>Eliminar</th>
				</tr>

				{% for i in solicitudes %}

				<tr>
					<td>{{i.id}}</td>
					<td>{{i.puesto.nombre_puesto}}</td>
					<td>{{i.fecha_de_carga}</td>
					<td>{{i.estado}}</td>
                    <td><a class="btn btn-sm btn-info" href="{% url 'actualizar_posicion' i.id %}">Actualizar</a></td>
                    <td><a class="btn btn-sm btn-danger" href="{% url 'eliminar' i.id %}">Eliminar</a></td>
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>

{% endblock %}
